page-userdefine {
  .close-btn{
    background-color: rgba(0, 0, 0, 0.4);
  }
  .camera{
    position: absolute;
    bottom:2rem;
    width: 100%;
    .camera-btn {
      left: calc(50% - 3rem);
      width: 6rem;
      height: 6rem;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3rem;
      font-size: 3rem;
    }
    .cancle-btn{
      position: absolute;
      right: 1rem;
      color:#fff;
      font-size: 2rem;
      height: 6rem;
      background-color: transparent;
    }
  }
}
